/* google font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&family=Spicy+Rice&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container {
    @apply max-w-7xl w-full mx-auto px-6
}

.drawer-side a {
    background: transparent;
}

.drawer-side a.active {
    color: #F24080;
    background: transparent;
}